.header {
    width: 100%;
    padding: 1rem 2rem;
    background-color: #283B28;
    color: #E0DED1;
    box-sizing: border-box;
    top: 0;
    left: 0;
    z-index: 1000;
}

.title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

.nav-list li {
}

.nav-list li button {
    background-color: transparent;
    border: 2px solid #E0DED1;
    color: #E0DED1;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-weight: 600;
}

.nav-list li button:hover,
.nav-list li button:focus {
    background-color: #A68D4A;
    color: #283B28;
    outline: none;
}