html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  font-family: sans-serif;
}


main {
  padding: 2rem;
}

section {
  margin-bottom: 2rem;
}

section p {
  text-align: justify;
  line-height: 1.6;
  margin-bottom: 1rem;
}

.imagen-centrada { /* Estilo para centrar una imagen */
  display: block;
  margin: 2rem auto;
  max-width: 100%;
  height: auto;
}

